In [1]:
import pandas as pd
import numpy as np
import re # We import Python's Regular Expressions library

In [2]:
def get_quoted_value(source_string):
    quote_pattern = '\"(.*?)\"'
    match = re.search(quote_pattern, line).group(1)
    return match

lichess_data = r"C:\Users\PC\Desktop\Springboard Data Science Career Track\Github Springboard Repository\Springboard\lichess_db_standard_rated_2022_08.pgn"
file = open(lichess_data, mode="r")

results = []

for line in file:

    if line.startswith('[Result'):
        results.append(get_quoted_value(line))

In [3]:
print("results observations: " , len(results))

results observations:  92670440

In [4]:
df = pd.DataFrame(
    {
        'Result': results
    }
)

In [5]:
df.to_csv(r'C:\Users\PC\Desktop\Springboard Data Science Career Track\Github Springboard Repository\Springboard\DataScience Capstone 2\lichess_dataframe_results.csv')

In [6]:
df.head(100)

     Result
0   1/2-1/2
1       0-1
2       1-0
3       1-0
4       0-1
..      ...
95      0-1
96  1/2-1/2
97      0-1
98      1-0
99      0-1

[100 rows x 1 columns]