In [1]:
import pandas as pd
import numpy as np
import re # We import Python's Regular Expressions library

In [2]:
def get_quoted_value(source_string):
    quote_pattern = '\"(.*?)\"'
    match = re.search(quote_pattern, line).group(1)
    return match

lichess_data = r"C:\Users\PC\Desktop\Springboard Data Science Career Track\Github Springboard Repository\Springboard\lichess_db_standard_rated_2022_08.pgn"
file = open(lichess_data, mode="r")

time_controls = []

for line in file:
        
    if line.startswith('[TimeControl'):
        time_controls.append(get_quoted_value(line))

In [3]:
print("time_controls observations: " , len(time_controls))

time_controls observations:  92670440

In [4]:
df = pd.DataFrame(
    {
        'Time Control': time_controls
    }
)

In [5]:
df.to_csv(r'C:\Users\PC\Desktop\Springboard Data Science Career Track\Github Springboard Repository\Springboard\DataScience Capstone 2\lichess_dataframe_time_controls.csv')

In [6]:
df.head(100)

   Time Control
0          60+0
1          60+0
2          60+0
3          60+0
4          60+0
..          ...
95        180+2
96        180+2
97        180+2
98        600+5
99        180+2

[100 rows x 1 columns]